<h1>Choose a location</h1>
<% if @locations == [] %>
    <p>nope</p>
<% else %>
    <% @locations.each do |l| %>
		<h3><strong><%= link_to l.name, location_path(l.id) %></strong></h3>
   		<hr>
    <% end %>
<% end %>