<h1>Locations#index</h1>
<p>Find me in app/views/locations/index.html.erb</p>


<% if @locations == [] %>
    <p>nope</p>
<% else %>
    <% @locations.each do |l| %>
    	<strong>name</strong> <br>
   		<%= l.name %><br/>
		<%= link_to "Read More", location_path(l.id) %>
   		<hr>
    <% end %>
<% end %>